<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.example.shashankshekhar.application3s1"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".Map.MapActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".Camera.CameraActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.DeviceDefault.Light.NoActionBar.Fullscreen">
        </activity>
        <activity android:name=".ListView.ListViewActivity">
        </activity>

        <service
            android:name=".EventReceiverService"
            android:enabled="true"
            android:exported="false">
        </service>

        <activity
            android:name=".Graph.StaticGraphActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".Graph.Dashboard"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".Graph.DynamicGraphActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".Map.SensorProperties">
        </activity>
        <activity android:name=".Map.MoteProperties">
        </activity>
        <activity android:name=".Graph.DynamicMoteGraph">
        </activity>
    </application>

</manifest>
